<main class="cd-main-content">
    div(class="contact-area" name="thiswillbeexamid" id=allquestions[0].examid)
        for eachQ in allquestions
            <div class="contact">
                <main>
                    <section>
                        <div class="content">
                            <aside>
                                <h1>#{eachQ.questionNum}</h1>
                                <p>#{eachQ.description}</p>
                            </aside>
                        </div>
                    </section>
                    div(name="question" class="content" id="bottom")
                        aside(name=eachQ.type id=eachQ.questionNum attribute="question")
                            if eachQ.type == "single choice"
                                <div class="wrapper typo">
                                    <div class="list"><span class="placeholder">?</span>
                                        <ul class="list__ul">
                                            <li><a></a></li>
                                            for qchoice in eachQ.choice
                                                <li><a>#{qchoice}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            if eachQ.type == "multiple choice"
                                select(name="mc" id=eachQ.questionNum multiple)
                                    for qchoice in eachQ.choice
                                        option(value=qchoice) #{qchoice}
                            if eachQ.type == "file submission"
                                input(examid = eachQ.examid id=eachQ.questionNum+" file" type="file" required multiple)
                                //- <input name=eachQ.type id=eachQ.questionNum type="file" class="filepond" name="filepond" multiple data-max-file-size="3MB" data-max-files="3" />
                            if eachQ.type == "text input"
                                <div class="codeview" id="code"></div>
                </main>
            </div>
    </div>
    <button id="submit">Submit</button>
</main>

//- p -----------
//- p dynamic questions above
//- <main class="cd-main-content">
//-     <div class="contact-area">
//-         <div class="contact">
//-             <main>
//-                 <section>
//-                     <div class="content">
//-                         <aside>
//-                             <h1>Question 1</h1>
//-                             <p>Write a function named addOnlyNumbers with parameters foo and bar. If foo and bar are both of type "number", return the result of foo plus bar. If foo and bar are not both numbers, return NaN.</p>
//-                             <p>Invoke your function with arguments 5 and Math.PI.</p>
//-                             <p>Invoke your function with arguments 'fidget spinner' and 22.</p>
//-                         </aside>
//-                     </div>
//-                 </section>
//-                 <div class="content" id="bottom">
//-                     <aside>
                        
//-                     </aside>
//-                 </div>
//-             </main>
//-         </div>
//-         <div class="contact">
//-             <main>
//-                 <section>
//-                     <div class="content">
//-                         <aside>
//-                             <h1>Question 2</h1>
//-                             <p>This is an example of single choice question. Please choose a.</p>
//-                         </aside>
//-                     </div>
//-                 </section>
//-                 <div class="content" id="bottom">
//-                     <aside>
//-                         <div class="wrapper typo">
//-                             <div class="list"><span class="placeholder">?</span>
//-                                 <ul class="list__ul">
//-                                     <li><a></a></li>
//-                                     <li><a>This is choice a.</a></li>
//-                                     <li><a>This is choice b; don't choose this.</a></li>
//-                                     <li><a>This is choice c; incorrect answer.</a></li>
//-                                     <li><a>This is choice d. Ignore this.</a></li>
//-                                     <li><a>All the answers above. All the answers above!</a></li>
//-                                 </ul>
//-                             </div>
//-                         </div>
//-                     </aside>
//-                 </div>
//-             </main>
//-         </div>
//-         <div class="contact">
//-             <main>
//-                 <section>
//-                     <div class="content">
//-                         <aside>
//-                             <h1>Question 3</h1>
//-                             <p>This is an example of multiple choice question. Please chooce a and c.</p>
//-                         </aside>
//-                     </div>
//-                 </section>
//-                 <div class="content" id="bottom">
//-                     <aside>
//-                         <select id="question3" multiple>
//-                             <option value="volvo">This is choice a.</option>
//-                             <option value="saab">This is choice b; don't choose this.</option>
//-                             <option value="mercedes">This is choice c; one of the correct answers;</option>
//-                             <option value="audi">This is choice d. Ignore this.</option>
//-                         </select>
//-                     </aside>
//-                 </div>
//-             </main>
//-         </div>
//-         <div class="contact">
//-             <main>
//-                 <section>
//-                     <div class="content">
//-                         <aside>
//-                             <h1>Question 4</h1>
//-                             <p>This is an example of file submission question. Please submit files.</p>
//-                         </aside>
//-                     </div>
//-                 </section>
//-                 <div class="content" id="bottom">
//-                     <aside>
//-                         <input type="file" class="filepond" name="filepond" multiple data-max-file-size="3MB" data-max-files="3" />
//-                     </aside>
//-                 </div>
//-             </main>
//-         </div>
//-     </div>
//-     <div class="container-login100-form-btn">
//-         <button name="login" class="login100-form-btn">Submit</button>
//-     </div>
//- </main>